@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* ========================= DESIGN TOKENS ========================= */

@theme {

  /* ---------------- Typography ---------------- */

  --font-h0: 48px;
  --font-h1: 36px;
  --font-h2: 28px;
  --font-h3: 22px;
  --font-h4: 18px;
  --font-h45: 16px;
  --font-h5: 14px;

  --lh-h0: 58px;
  --lh-h1: 46px;
  --lh-h2: 38px;
  --lh-h3: 32px;
  --lh-h4: 28px;
  --lh-h45: 24px;
  --lh-h5: 24px;

  --font-ll: 16px;
  --font-large: 15px;
  --font-normal: 14px;
  --font-emphasis: 12px;
  --font-caption: 12px;
  --font-small: 11px;

  --lh-ll: 26px;
  --lh-large: 24px;
  --lh-normal: 22px;
  --lh-emphasis: 22px;
  --lh-caption: 18px;
  --lh-small: 16px;

  /* ---------------- Colors (semantic naming) ---------------- */

  --color-primary: #840227;
  --color-brand: #840227;
  --color-brand-hover: #F2B6A0;

  --color-surface: #FAFAF8;
  --color-surface-dark: #1E293B;

  --color-background: #FFFFFF;
  --color-background-dark: #1E293B;

  --color-surface-primary-dark: #0F172A;

  --color-text-main: #2A2A2A;
  --color-text-main-dark: #FAFAF8;
  --color-text-muted: #4D4D4D;
  --color-text-muted-dark: #BBBFC4;

  --color-border: #E2E4E7;

  --color-logo: #D9D9D9;
  --color-secondary-surface: #F2F2EE;

  /* Fonts */

  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

/* ========================= TYPOGRAPHY UTILITIES ========================= */

@layer utilities {

  .text-h0 {
    font-size: var(--font-h0);
    line-height: var(--lh-h0);
    font-weight: 600;
  }

  .text-h1 {
    font-size: var(--font-h1);
    line-height: var(--lh-h1);
    font-weight: 600;
  }

  .text-h2 {
    font-size: var(--font-h2);
    line-height: var(--lh-h2);
    font-weight: 600;
  }

  .text-h3 {
    font-size: var(--font-h3);
    line-height: var(--lh-h3);
    font-weight: 600;
  }

  .text-h4 {
    font-size: var(--font-h4);
    line-height: var(--lh-h4);
    font-weight: 600;
  }

  .text-h45 {
    font-size: var(--font-h45);
    line-height: var(--lh-h45);
    font-weight: 600;
  }

  .text-h5 {
    font-size: var(--font-h5);
    line-height: var(--lh-h5);
    font-weight: 600;
  }

  .text-ll {
    font-size: var(--font-ll);
    line-height: var(--lh-ll);
  }

  .text-large {
    font-size: var(--font-large);
    line-height: var(--lh-large);
  }

  .text-body {
    font-size: var(--font-normal);
    line-height: var(--lh-normal);
  }

  .text-emphasis {
    font-size: var(--font-emphasis);
    line-height: var(--lh-emphasis);
  }

  .text-caption {
    font-size: var(--font-caption);
    line-height: var(--lh-caption);
  }

  .text-small {
    font-size: var(--font-small);
    line-height: var(--lh-small);
  }

}

/* ========================= COLOR UTILITIES ========================= */

@layer utilities {

  /* backgrounds */

  .bg-brand {
    background-color: var(--color-brand);
  }

  .dark .bg-brand {
    background-color: var(--color-surface-primary-dark);
  }

  .bg-primary-16 {
    background-color: color-mix(in srgb, var(--color-primary) 16%, transparent);
  }

  .bg-surface {
    background-color: var(--color-surface);
  }

  .dark .bg-surface {
    background-color: var(--color-surface-dark);
  }

  .bg-background {
    background-color: var(--color-background);
  }

  .dark .bg-background {
    background-color: var(--color-background-dark);
  }

  .bg-secondary-surface {
    background-color: var(--color-secondary-surface);
  }


  .bg-card {
    background-color: var(--color-surface);
  }

  .dark .bg-card {
    background-color: var(--color-surface-primary-dark);
  }

  .bg-input-bg {
    background-color: var(--color-logo);
  }

  .dark .bg-input-bg {
    background-color: color-mix(in srgb, var(--color-logo) 16%, transparent);
  }




  /* text */

  .text-brand {
    color: var(--color-brand);
  }

  .text-main {
    color: var(--color-text-main);
  }

  .dark .text-main {
    color: var(--color-text-main-dark);
  }

  .text-muted {
    color: var(--color-text-muted);
  }

  .dark .text-muted {
    color: var(--color-text-muted-dark);
  }

  /* borders */

  .border-default {
    border-color: var(--color-border);
  }

  .dark .border-default {
    border-color: color-mix(in srgb, var(--color-border) 16%, transparent);
  }

  /* hover */

  .hover-brand:hover {
    background-color: var(--color-brand-hover);
  }


  .border-input-border {
    border-color: var(--color-text-main);
  }

  .dark .border-input-border {
    border-color: var(--color-secondary-surface);
  }

}

/* ========================= LAYOUT UTILITIES ========================= */

@layer utilities {

  .sidebar-sm {
    width: 22.25rem;
  }

  .sidebar-lg {
    width: 37.5rem;
  }

}


/* ========================= NOISE ========================== */
@layer utilities {
  .dark .noise-overlay::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.1;
    border-radius: 8px;
    pointer-events: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
  }

  .noise-overlay::before {
    z-index: 10;
  }

  .noise-overlay>* {
    position: relative;
    z-index: 1;
  }



  .texture-noise {
    position: relative;
  }

  .texture-noise::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    opacity: 0.08;
    /* adjust strength */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)'/%3E%3C/svg%3E");
  }
}

/* ========================= GLOBAL ========================= */

body {
  font-family: var(--font-sans);
}

/* scrollbar hide */

@layer utilities {

  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

}

/* components */

@layer components {

  .title-h2 {
    @apply text-2xl font-semibold flex items-center gap-3;
  }

  .video-player {
    @apply flex justify-center items-center rounded-full bg-black/50 h-10;
  }

}

/* autofill fix */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: inherit;
  transition: background-color 5000s ease-in-out 0s;
}

.dark input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #1E293B inset;
  -webkit-text-fill-color: white;
}

/* menu animation */

.menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.3s ease;
  opacity: 0;
}

.menu.open {
  max-height: 200px;
  opacity: 1;
}